/* tinos-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/tinos-v24-latin-regular.woff2') format('woff2');
}

:root {
    --blue: #1978d9;
    --light-grey: #d3d3d3;
    --dark-grey: #757775;
    --black: #100810;

    --font-main: 'Tinos', serif;
    --font-alt: 'Arial', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#form {
    width: 316px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding: 1.625rem 2rem 2rem;
}

h1 {
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 1.563rem;
}

label {
    display: block;
    font-size: 1rem;
    color: black;
    margin-bottom: 0.5rem;
}

input[type='number'],
input[type='submit'],
::placeholder {
    font-family: var(--font-alt);
}

input[type='number'] {
    width: 100%;
    height: 1.563rem;
    margin-bottom: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    padding: 0.125rem 0.25rem;
    font-size: 0.81rem;
}

::placeholder {
    font-size: 0.81rem;
    color: var(--dark-grey);
    letter-spacing: 0.012em;
}

input[type='submit'] {
    display: flex;
    justify-self: end;
    background: none;
    border: 2px solid var(--blue);
    border-radius: 8px;
    padding: 0.04em 0.6em;
    color: var(--blue);
    font-size: 0.938rem;
    letter-spacing: 0.02em;
    line-height: 1.3;
}

input[type='submit']:hover {
    background-color: var(--blue);
    color: white;
}
